sudo: required
dist: trusty
language: node_js
node_js: "6"
script: npm run test:server
services:
  - postgresql
before_script:
  - psql -c 'create database dms_test;' -U postgres
before_install:
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
 - sudo apt-get update
 - sudo apt-get install -y libappindicator1 fonts-liberation
 - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
 - sudo dpkg -i google-chrome*.deb
env:
  - JWT_SECRET=THISIS12345HARRYPOTTERSECRETCODE09876
after_success: npm run coverage