header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width : 601px) {
  .container {
    width: 85%; } }

@media only screen and (min-width : 993px) {
  .container {
    width: 80%; } }

.card-title {
	display: block;
	width: 100%;
	height: 100%;
}

.card .card-image .card-title {
	text-transform: capitalize;
	font-weight: 500;
}

.card-image {
	height: 185px;
	width: 250px;
	background-color: green;
	position: relative;
}